@use '../variables';

.form {
  padding-bottom: 20px;
  padding-left: 100px;
  border-bottom: 2px solid variables.$border-color;

  @media (max-width: 1025px) {
    text-align: center;
    padding-left: 0;
  }

  .main-title {
    font-size: 35px;
    padding-top: 20px;
    color: variables.$text-color;

    @media (max-width: 1025px) {
      font-size: 25px;
      text-align: center;
      padding-left: 0;
    }
  }

  .btn {
    color: white;
    font-size: 20px;
    background-color: variables.$button-color;
    border: 2px solid variables.$border-color;
    border-radius: 5px;
    display: inline-block;
    padding: 0.3em 1.2em;
    margin: 0.8em 0.1em 0.1em 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    text-align: center;
    transition: all 0.2s;

    @media (min-width: 1025px) {
      cursor: pointer;
    }
  }

  .btn:active {
    border: 2px solid variables.$red;
    background-color: variables.$red;
  }

  .btn:hover {
    @media (min-width: 1025px) {
      border: 2px solid variables.$red;
      background-color: variables.$red;
    }
  }

  .input {
    background-color: variables.$button-color;
    border: 2px solid variables.$border-color;
    color: variables.$text-color;
    margin: 10px;
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 5px;
  }

  .input:focus {
    outline: 0;
    border: variables.$red 2px solid;
  }

  .input::placeholder {
    color: variables.$text-color;
    font-size: 17px;
    font-weight: 100;
  }

  .label-language {
    margin-left: 20px;
    color: variables.$text-color;
  }

  .select-language {
    margin-left: 10px;
    width: 60px;
    height: 20px;
  }
}
