.form {
  padding-bottom: 20px;
  padding-left: 35px;
  border-bottom: 1px solid rgb(100, 255, 218);

  @media (max-width: 1025px) {
    text-align: center;
    padding-left: 0;
  }

  .btn {
    color: rgb(100, 255, 218);
    font-size: 20px;
    background-color: rgb(10, 25, 47);
    display: inline-block;
    padding: 0.3em 1.2em;
    margin: 0.8em 0.1em 0.1em 0;
    border: 1px solid rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    text-align: center;
    transition: all 0.2s;

    @media (min-width: 1025px) {
      cursor: pointer;
    }
  }

  .btn:active {
    border: 1px solid rgb(100, 255, 218);
  }

  .btn:hover {
    @media (min-width: 1025px) {
      border: 1px solid rgb(100, 255, 218);
    }
  }

  .input {
    background-color: rgb(10, 25, 47);
    color: rgb(100, 255, 218);
    margin: 10px;
    padding: 5px 10px;
    font-size: 20px;
    border: 1px solid rgb(100, 255, 218);
    border-radius: 10px;
  }

  .input::placeholder {
    color: rgb(100, 255, 218);
    font-size: 15px;
    font-weight: 100;
  }

  .input:focus {
    outline: none;
  }

  select {
    margin-left: 10px;
  }
}
