.label-language {
  color: #9da19d;
}

.author {
  color: #9da19d;
  margin-left: 10px;
}

.author-input {
  margin-left: 10px;
}

.description {
  color: #9da19d;
  margin-left: 10px;
}

.description-input {
  margin-left: 10px;
}
