@use '../../../variables';
button {
  color: white;
  background-color: variables.$button-color;
  border: 2px solid variables.$border-color;
  font-size: 20px;
  display: inline-block;
  padding: 0.3em 1.2em;
  border-radius: 5px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  text-align: center;
  transition: all 0.2s;
  margin-top: 10px;
  margin-bottom: 10px;

  @media (min-width: 1025px) {
    cursor: pointer;
  }
}

button:hover {
  @media (min-width: 1025px) {
    border: 2px solid variables.$red;
    background-color: variables.$red;
  }
}
