.app-container {
  min-height: 100vh;
  position: relative;
  overflow: hidden;

  .main-title {
    font-size: 35px;
    padding-top: 20px;
    color: rgb(100, 255, 218);
    padding-left: 40px;

    @media (max-width: 1025px) {
      font-size: 25px;
      text-align: center;
      padding-left: 0;
    }
  }
  // span {
  //   font-size: 30px;

  //   @media (max-width: 1025px) {
  //     display: none;
  //   }
  // }
}
